{{#each results as |property|}}
  <li class="property" {{ action 'transition' property.id}}>
    <p>
      {{#each property.names as |name|}}
        <span class="name">{{format-details name}}</span>
      {{/each}}
    </p>
    <p><span itemprop="streetAddress">{{format-details property.address}}</span></p>
  </li>
{{/each}}
