{{#if showMessage}}
  <li class="no-results-message">No results.</li>
{{/if}}

{{#each results as |property|}}
  <li class="property">
    {{#link-to 'index.parcel' property.id}}
      <p>
        {{#each property.names as |name|}}
          <span class="name">{{format-details name}}</span>
        {{/each}}
      </p>
      <p><span itemprop="streetAddress">{{format-details property.address}}</span></p>
    {{/link-to}}
  </li>
{{/each}}
