{{#each results as |property index|}}
  <li class="property" {{action "setActiveProperty" property}} itemscope itemtype="http://schema.org/Property">
    <p itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{array names index}}</span></p>
    <p itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">{{array addresses index}}</span></p>
  </li>
{{/each}}
