{{#each properties as |property|}}
  <li class="property" {{action "sendPropertyCoords" property}} itemscope itemtype="http://schema.org/Property">
    <p itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">{{ property.address }}</span></p>
    <p itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ property.owner }}</span></p>
  </li>
{{/each}}
