{{#each results as |property|}}
  <li class="property" {{action "setActive" property}} itemscope itemtype="http://schema.org/Property">
    <p itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">{{ format-detail property.propaddr }}</span></p>
    <p itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ format-detail property.ownername1 }}</span></p>
  </li>
{{/each}}
