<div class="streetview-container">
  <ul class="loading-overlay dots-list">
    <li class="dot"></li>
    <li class="dot"></li>
    <li class="dot"></li>
  </ul>
  <a href="{{href}}" target="_blank"><img src={{src}} alt={{alt}}></a>
</div>
