@mixin shadow {
  border-radius: rem(4);
  background-color: $brand;
  box-shadow: 0 rem(1) rem(5) rgba(black, .65);
}

@mixin show-for-transition {
  position: relative;
  left: 0;
  transition: opacity $transition;
  opacity: 1;
}
