$darken: 20%;
$brand: rgba(#97bf9f, 0.95);
$brand-primary: $brand;
$brand-secondary: darken($brand, $darken);
$brand-border: 0 rem(-2) 0 $brand-secondary;
$font: 'Lato', sans-serif;
$large: 'min-width: (#{rem(1024)})';
$medium: 'min-width: (#{rem(600)})';
$right-offset: 0.6rem;
$shadow: rem(3) rem(3) rem(5) rgba(black, 0.15);
$spacing: 0.35rem;
$text: white;
$transition: 0.3s;
