$padding: ($spacing + .25);

.legend {
  @include shadow;
  background-color: $brand;
  bottom: 0;
  color: $text;
  display: none;
  left: 0;
  margin: 0 0 $padding $padding;
  max-width: 15rem;
  padding: $padding $padding $padding;
  position: absolute;
  z-index: 11;

  @media (#{$large}) {
    max-width: rem(300);
    padding: $padding rem(40) $padding $padding;
  }

  ul,
  p {
    margin-top: rem(10);
    margin-bottom: 0;;
  }

  li {
    line-height: 1.4rem;
  }

  .close {
    fill: $text;
    position: absolute;
    right: $spacing + .25;
    top: $spacing + .25;
  }
}

.legend-marker-color {
  height: auto;
  width: auto;
}

.legend-label {
  cursor: pointer;
}

.legend-toggle {
  bottom: 0;
  left: 0;
  margin: 0 0 $padding $padding;
  position: absolute;
}

.legend-icon {
  display: inline-block;
  fill: $text;
  width: rem(16);
}

.legend-is-toggled {
  @extend %shadow;
  display: inline-block !important;
}

.link-list {
  display: flex;

  li:after {
    content: "|";
    display: inline-block;
    padding: 0 rem(5);
  }

  li:last-child:after {
    content: "";
  }
}
