#map {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

#map .leaflet-bar a {
  background-color: $brand;
  border-bottom: none;
  color: $text;
}

.active-property-marker {
  fill: #e95151;
  stroke: #212121;
}
