.properties-list .property {
  cursor: pointer;
  padding-top: rem(16);
  padding: 1rem;

  p {
    margin: 0;

    &:first-child {
      margin-bottom: rem(10);
    }
  }

  &:not(:first-child):after {
    background-image: linear-gradient(90deg, #5b9567 0%, #5b9567 100%);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 90% rem(2);
    content: "";
    display: block;
    height: rem(2);
    left: 0;
    position: absolute;
    top: rem(-2);
    width: 100%;
  }

  &:hover {
    background-color: $brand-secondary;

    &:after {
      content: none;
    }
  }
}
address {
  font-style: normal;
}

.panel-on:not(.active-property) .properties-list {
  display: block;
  max-height: rem(150);
  overflow-y: scroll;
  padding: 0;

  @media (#{$large}) {
    max-height: rem(350);
  }
}
.active-property .property {
  display: block;
}

.property-click {
  cursor: pointer;
}

.properties-list {
  overflow-y: scroll;

  @media (#{$medium}) {
    flex-basis: 50%;
  }
}

.property svg {
  fill: $text;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-left: 0.2rem;
  position: relative;
  top: rem(2);
}

.properties-list .property {
  position: relative;
}

.has-results.has-active-property .properties-list {
  @include hide-for-transition;
}

.has-results .properties-list {
  @include show-for-transition;
}
