$max-height: rem(368);

.streetview {
  z-index: 1;
  width: 100%;
  margin-top: rem(16);

  a:before {
    content: 'Streetview';

    @media (#{$large}) {
      content: initial;
    }
  }

  img {
    display: none;
  }

  @media (#{$large}) {
    img {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      max-height: $max-height;
      opacity: 0;
    }
  }
}

.is-loaded img {
  transition: opacity $transition;
  opacity: 1;
}

.streetview-container {
  @media (#{$large}) {
    position: relative;
    width: 100%;
    height: $max-height;
    background-color: #e4e3df;
  }
}

.streetview a svg {
  display: inline-block;
  width: rem(16);
  fill: white;
}

.streetview .loading-overlay {
  @media (#{$large}) {
    padding-top: 50%;
    opacity: 1;
  }
}

.streetview.is-loaded .loading-overlay {
  @media (#{$large}) {
    opacity: 0;
  }
}
