$max-height: rem(368);

.has-active-property .streetview {
  @include show-for-transition;
}

.streetview {
  width: 100%;
  z-index: 1;

  img {
    height: 100%;
    max-height: $max-height;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  @media (#{$large}) {
    box-shadow: $brand-border, $shadow;

    img {
      display: block;
      height: auto;
      position: relative;
    }
  }
}

.is-loaded img {
  opacity: 1;
  transition: opacity $transition;
}

.streetview-container {
  background-color: #e4e3df;
  height: $max-height;
  width: 100%;
  position: relative;
}

.streetview .loading-overlay {
  opacity: 1;
  padding-top: 50%;
}

.streetview.is-loaded .loading-overlay {
  opacity: 0;
}
