.panel {
  -webkit-overflow-scrolling: touch;
  background-color: $brand;
  bottom: 0;
  box-shadow: 0 rem(-2) 0 $brand-secondary;
  color: $text;
  left: 0;
  position: absolute;
  right: 0;
  transform: translate3d(0, 7rem, 0);
  transition: transform 150ms ease;
  z-index: 2;

  .close {
    position: absolute;
    right: $right-offset;
    top: rem(13);
    z-index: 10;
  }

  &.panel-on {
    transform: translate3d(0, 0, 0);
    transition: transform 150ms ease;
    z-index: 21;
  }

  @media (#{$large}) {
    box-shadow: $brand-border, $shadow;
    margin: 0 0 0 1rem;
    max-width: 25rem;
    position: relative;
    transform: none;
    transition: none;
    z-index: 2;

    .close {
      top: rem(-37);
    }
  }
}

.panel-item {
  @include hide-for-transition;
  padding: 1rem;

  p {
    margin-bottom: rem(10);
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
