.search {
  @include shadow;
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  input {
    background-color: transparent;
    border: 0;
    color: $text;
    line-height: rem(50);
    position: relative;
    text-indent: .6rem;
    width: 100%;
  }

  .close {
    position: absolute;
    right: $right-offset;
    top: .875rem;
  }

  &.search-on {
    display: block;
  }

  @media (#{$large}) {
    box-shadow: $shadow;
    display: block;
    margin: 1rem 0 0 1rem;
    max-width: 25rem;
    position: relative;
  }
}

.search-btn {
  float: right;
  margin: .35rem .6rem .35rem .35rem;
  padding: .35rem;
  position: relative;
  text-align: right;
  z-index: 0;

  svg {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  @media (#{$large}) {
    .btn {
      // display: none;
    }
  }
}
