.loading-overlay {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 50vh;
  transition: opacity ease .35s;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(#fff, .35);

  &.is-loading {
    transition: opacity ease .35s;
    pointer-events: auto;
    opacity: 1;
  }
}

.dot-list {
  display: table;
  margin: auto;
}

.dot {
  display: inline-block;
  width: rem(25);
  height: rem(25);
  margin: 0 rem(3);
  animation-name: loading;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  background-color: #3f3f3f;

  &:nth-child(2) {
    animation-delay: .2s;
  }

  &:nth-child(3) {
    animation-delay: .4s;
  }
}

@keyframes loading {
  0% {
    transform: translateY(0);
    opacity: .2;
  }

  20% {
    transform: translateY(rem(-10));
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: .2;
  }
}
